{# Using the list of BGP neighbors created in YAML exercise #6 create Cisco
IOS BGP router configuration: #}

router bgp 64000

{% for router in routers %}
  {% if router.state is not defined %}
    no neighbor {{router.ip_address}}
  {% else %}
    neighbor {{router.ip_address}} remote-as {{router.ASN}}
    neighbor {{router.ip_address}} description {{router.description}}
  {% endif %}
  {% if router.policy is defined %}
    neighbor {{router.ip_address}} route-map {{router.policy}} in
  {% endif %}
  {% if router.state == 'down' %}
    neighbor {{router.ip_address}} shutdown
  {% endif %}
{% endfor %}
